$basecolor: #aaa;
$iconsFont: 1rem;
$iconColor: #808080;
$editCardColor: #ff6500;
$borderColor: 1px solid rgba(0,0,0,.125);
$background: #f8f9fa;


body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Graphik, sans-serif !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    overflow-x: hidden !important;
  } 