$basecolor: #aaa;
$iconsFont: 1rem;
$iconColor: #808080;


body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Graphik, sans-serif !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    overflow-x: hidden !important;
  } 